<div class="mt-4 flex justify-between items-center">
    <!-- Select / Capture Button -->
    <div class="w-full pr-2">
        <button
                @click="$refs.fileInput.click()"
                class="w-full px-4 py-2 bg-gradient-to-r from-primary to-secondary rounded-lg "
        >
            <i class="ri-video-on-line ri-lg"></i> <span class="text-xs">Record/Choose</span>
        </button>
        <input
                id="upload_media"
                type="file"
                multiple
                accept="image/*,video/*"
                capture="environment"
                class="hidden"
                x-ref="fileInput"
                @change="handleFiles"
        >
    </div>

    <!-- Upload All Button -->
    <div class="w-full pl-2">
        <button
                @click="uploadAllFiles()"
                class="w-full px-4 py-2 bg-gradient-to-r from-primary to-secondary rounded-lg"
        >
            <i class="ri-upload-cloud-line ri-lg"></i> <span class="text-xs">Upload</span>
        </button>
    </div>
</div>
