<div class="flex flex-col items-center">
    <div class="w-24 h-24 rounded-full overflow-hidden mb-4">
        <img
                src="{{ current_user.get_profile_picture }}"
                alt="Profile"
                class="w-full h-full object-cover"
        />
    </div>
    {% if current_user.first_name is None or current_user.first_name == '' %}
    <h2 class="text-xl font-bold mb-1">{{current_user.username}}</h2>
    {% else %}
    <h2 class="text-xl font-bold mb-1">{{current_user.first_name}}</h2>
    <h3 class="text-sm font-bold mb-1">{{current_user.username}}</h3>
    {% endif %}

    <div class="flex gap-6 mb-5">
        {% if logged_in_user.is_creator %}
        <div class="flex flex-col items-center">
            <span class="font-bold">{{current_user.profile.follower_count}}</span>
            <span class="text-sm text-gray-400">Subscribers</span>
        </div>
        <div class="flex flex-col items-center">
            <span class="font-bold">{{current_user.profile.media_count}}</span>
            <span class="text-sm text-gray-400">Media</span>
        </div>
        {% if is_the_same_user %}
        <div class="flex flex-col items-center">
            <span class="font-bold">{{current_user.balance.get_balance_as_string}}</span>
            <span class="text-sm text-gray-400">Earnings</span>
        </div>
        {% endif %}
        {% else %}
        <div class="flex flex-col items-center">
            <span class="font-bold">{{current_user.profile.following_count}}</span>
            <span class="text-sm text-gray-400">Subscriptions</span>
        </div>
        {% if is_the_same_user %}
        <div class="flex flex-col items-center">
            <span class="font-bold">{{current_user.balance.get_balance_as_number}}</span>
            <span class="text-sm text-gray-400">Balance</span>
        </div>
        {% endif %}
        {% endif %}
    </div>

    {% if current_user.profile.bio is not None and current_user.profile.bio != '' %}
    <p class="text-center text-sm mb-4 profile_urls">
        {{ current_user.profile.bio|linebreaksbr|urlize }}
    </p>
    {% endif %}

    {% if is_the_same_user %}
    <a href="{% url 'user.update_profile' %}"
       class="bg-primary text-white px-5 py-1 rounded-full !rounded-button font-medium">Edit Profile</a>
    {% endif %}

    {% if current_user.is_creator and is_the_same_user == False %}
    <div class="flex flex-row">
        <div>
            <button
                    @click="openReportForm({{current_user.id}})"
                    class="font-medium">
                <i class="ri-flag-line"></i> Report
            </button>
        </div>
        <div class="ml-2">
            <a
                    href="{% url 'inbox.create_conversations' username=current_user.username %}"
                    class="bg-primary text-white p-2 rounded-full !rounded-button font-medium">
                <i class="ri-chat-1-line"></i>
                Send message
            </a>
        </div>
    </div>
    {% endif %}
</div>

{% block javascript %}

<script>
    //make links _blank if user has URLs in bio
    document.querySelectorAll('.profile_urls a').forEach(a => {
        a.setAttribute('target', '_blank');
    });
</script>
{% endblock javascript %}