<!DOCTYPE html>
<html lang="en">
<head>
    {% include "core/head.html" %}
    {% block head %}{% endblock head %}
</head>
<body class="bg-black text-white max-w-xl mx-auto">
<div id="app" class="h-full flex flex-col">
    <!-- Main Content Area -->
    <div id="main-content" class="flex-1 relative overflow-y-auto overflow-x-hidden pb-16">
        {% block content %}{% endblock content %}
    </div>

    {% include "components/bottom_navigation.html" %}
</div>

{% include "components/balance_popup.html" %}
{% include "components/18_plus_popup.html" %}
{% include "components/install_app.html" %}
{% include "components/push_notifications.html" %}
{% include "core/js.html" %}
{% block javascript %}{% endblock javascript %}
</body>
</html>
