{% extends "core/layout.html" %}
{% load static %}

{% block javascript %}
<script src="{% static 'js/feed.js' %}"></script>
{% endblock javascript %}

{% block content %}

<!-- Video Feed View -->
<div
        x-data="mediaFeed('{{type}}', '{{media_api_url}}', '{{follow_unfollow_api}}', '{{create_comment_api}}', '{{report_content_api}}', '{{like_media_api}}', '{{list_comments_api}}', '{{unlock_media_api}}', '{{record_views_api}}', {{is_authenticated}}, '{{filters}}')"
        x-init="init()"
        class="min-h-screen bg-black text-white"
>
    <!-- Feed container: vertically snapping -->
    <div id="feed" class="h-screen overflow-y-auto" @scroll.window.debounce="onScroll">
        <!-- Media items -->
        {% include "components/media_items.html" %}

        <!-- No more media to load -->
        <div x-show="!hasMore"
             class="media-container media-container-no-more-media bg-black relative snap-start flex items-center justify-center bg-black">
            <div
                    class="text-3xl p-8 text-center text-gray-400  inset-0 w-  fit h-fit m-auto">
                <i class="ri-video-fill ri-3x"></i>
                <br>
                No more content
            </div>
        </div>

        <!-- skeleton loader cards while loading more -->
        <template x-if="loadingMore">
            <div class="col-span-3 flex justify-center py-4">
                {% include "components/elements/loader.html" %}
            </div>
        </template>

        <!-- No media at all -->
        <div x-show="!mediaList.length"
             class="bg-black text-3xl p-8 text-center text-gray-400 fixed inset-0 w-fit h-fit m-auto">
            <i class="ri-video-fill ri-3x"></i>
            <br>
            No content to show.
        </div>
    </div>

    {% include "components/comments.html" %}
    {% include "report_form.html" %}
</div>
{% endblock content %}