{% extends "core/layout_without_navigation.html" %}
{% load static %}

{% block javascript %}
<script src="{% static 'js/messages.js'%}"></script>
{% endblock javascript %}

{% block content %}
<!-- Inbox View -->
<div id="inbox-view" class="bg-black h-screen flex flex-col">
    <!-- Fixed Header -->
    <div id="chat_header" class="fixed top-0 left-0 w-full bg-black border-b border-gray-800 z-10 h-16">
        <div class="flex items-center p-4">
            <button onclick="history.back()" class="text-white mr-2">
                <i class="ri-arrow-left-s-line ri-xl"></i>
            </button>
            <h2 class="text-xl font-bold text-white">{{other_user.username}}</h2>
        </div>
    </div>

    <!-- Spacer for header -->
    <div class="h-16 flex-shrink-0"></div>

    <!-- Messages Container -->
    <div
            class="flex-1 flex flex-col overflow-hidden"
            x-data="chatComponent('{{list_messages_api}}', '{{send_message_api}}', '{{conversation_id}}', {{current_user_id}})"
            x-init="initChat()"
    >
        <!-- Top Spacer (optional, can be 0) -->
        <div class="flex-shrink-0 h-0"></div>

        <!-- Message List -->
        {% include "components/messages/message_list.html" %}

        <!-- Bottom Spacer to avoid messages hiding behind input -->
        <div class="flex-shrink-0 h-16"></div>
    </div>

    <!-- Fixed Footer -->
    {% include "components/messages/send_message_input.html" %}

</div>

{% endblock content %}

