{% extends "core/layout.html" %}
{% load static %}

{% block javascript %}
<script src="{% static 'js/user/profile.js' %}"></script>
{% endblock javascript %}

{% block content %}

<!-- Profile View -->
<div
        id="profile-view"
        class="bg-black h-full overflow-y-auto pb-16"
        x-data="userProfile('{{report_content_api}}', '{{follow_unfollow_api}}', {{is_following}})"
>
    {% if TEMPLATE_IS_AUTHENTICATED == 1 %}
    <!-- Trigger button -->
    <button @click="menuOpen = !menuOpen"
            class="absolute top-2 right-2  hover:bg-indigo-500 text-white px-3 py-1 rounded text-white">
        <i class="ri-menu-line ri-lg"></i>
    </button>
    {% endif %}

    <div class="p-4">
        <!-- Profile Header -->
        {% include "components/profile_header.html" %}

        <!-- Content Tabs -->
        {% include "components/profile_content_tabs.html" %}

        <!-- Media Grid -->
        {% include "components/profile_media_grid.html" %}
    </div>

    {% include "components/profile_navigation.html" %}
    {% include "report_form.html" %}
</div>

{% endblock content %}