<!-- Bottom Navigation -->
<div
        class="max-w-xl mx-auto bottom-nav flex justify-around items-center fixed bottom-0 left-0 right-0 z-10"
>
    <a href="{% url 'feed.following' %}"
       id="home-btn"
       class="flex flex-col items-center justify-center py-1 {% if '/feed/following' in request.path %}text-primary{% else %}text-gray-400{% endif %}"
    >
        <div class="w-6 h-6 flex items-center justify-center">
            <i class="fa-solid fa-users"></i>
        </div>
        <span class="text-xs">Following</span>
    </a>
    <a href="{% url 'feed.discover' %}"
       id="discover-btn"
       class="flex flex-col items-center justify-center py-1 {% if '/feed/discover' in request.path %}text-primary{% else %}text-gray-400{% endif %}"
    >
        <div class="w-6 h-6 flex items-center justify-center">
            <i class="ri-compass-3-line ri-lg"></i>
        </div>
        <span class="text-xs">Discover</span>
    </a>
    <a href="{% url 'media.upload' %}"
       id="upload-btn"
       class="upload-btn w-14 h-14 rounded-lg bg-gradient-to-r from-primary to-secondary flex items-center justify-center !rounded-button"
    >
        <i class="ri-add-line ri-2x text-white"></i>
    </a>
    <a href="{% url 'inbox.home' %}"
       id="inbox-btn"
       class="flex flex-col items-center justify-center py-1 {% if '/inbox' in request.path %}text-primary{% else %}text-gray-400{% endif %}"
    >
        <div class="w-6 h-6 flex items-center justify-center">
            <i class="ri-message-3-line ri-lg"></i>
        </div>
        <span class="text-xs">Inbox</span>
    </a>
    <a href="{% if user.is_authenticated %}{% url 'user.profile' user.username %}{% else %}{% url 'login' %}{% endif %}"
       id="profile-btn"
       class="flex flex-col items-center justify-center py-1 {% if '/profile' in request.path or '/auth' in request.path %}text-primary{% else %}text-gray-400{% endif %}"
    >
        <div class="w-6 h-6 flex items-center justify-center">
            <i class="ri-user-3-line ri-lg"></i>
        </div>
        <span class="text-xs">Profile</span>
    </a>
</div>