{% extends "core/layout.html" %}

{% block content %}
<div id="my-content-view" class="p-4">

    <div class="flex-1 overflow-y-auto space-y-4">
        <form method="post" action="{% url 'media.update_my_media' %}" id="my_content_form">
            {% csrf_token %}
            {% for media in media_list %}
            <div class="media-block bg-gray-900 p-4 rounded-lg space-y-2 mb-5">
                <input type="hidden" name="media_ids" value="{{media.id}}">
                <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700">
                    <input name="delete" value="{{media.id}}" id="delete{{media.id}}" type="checkbox"
                           class="w-4 h-4 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="delete{{media.id}}"
                           class="w-full py-2 ms-2 text-sm font-medium dark:text-gray-300">Mark for
                        deletion</label>
                </div>
                <!-- Preview -->
                <div class="w-full rounded overflow-hidden bg-gray-900 flex items-center justify-center">
                    {% if media.is_image %}
                    <img src="{{ media.get_file_url }}" class="object-contain w-full h-full" alt="Image Preview">
                    {% elif media.is_video %}
                    <video src="{{ media.get_file_url }}" preload="none" poster="{{media.get_thumbnail_url}}"
                           class="object-contain w-full h-full"
                           controls></video>
                    {% endif %}
                </div>

                <!-- Textarea for file description -->
                <textarea
                        name="descriptions"
                        rows="5"
                        placeholder="Add a description and hashtags for better categorization"
                        class="w-full p-2 rounded bg-gray-700 text-white text-sm"
                >{{ media.description }}</textarea>
            </div>
            {% endfor %}

            {% include "components/my_content_buttons.html" %}
        </form>
    </div>
</div>

{% include "components/pagination.html" with page_obj=media_list %}

{% endblock content %}


{% block javascript %}
<script>
    $(document).ready(function() {
        $('.media-block input[type="checkbox"]').change(function() {
            var parentDiv = $(this).closest('.media-block');
            if ($(this).is(':checked')) {
                parentDiv.removeClass('bg-gray-900').addClass('bg-red-900');
            } else {
                parentDiv.removeClass('bg-red-900').addClass('bg-gray-900');
            }
        });
    });

    $(document).ready(function() {
        $('#delete_button').click(function(e) {
            e.preventDefault(); // prevent default behavior
            if (confirm("Are you sure you want to delete?")) {
                $('#my_content_form').submit();
            }
        });
    });
</script>
{% endblock javascript %}

