{% extends "core/layout.html" %}
{% load static %}

{% block javascript %}
<script src="{% static 'js/file_uploader.js' %}"></script>
{% endblock javascript %}

{% block content %}
<!-- Upload View -->
<div id="upload-view" class="bg-black h-full text-white p-4" x-data="fileUploader()">
    <div class="flex flex-col h-full">

        <!-- File List with Preview and Textarea -->
        {% include "components/file_preview.html" %}

        <!-- Bottom Controls -->
        {% include "components/bottom_controls.html" %}
    </div>
</div>
{% endblock content %}
